a{
    text-decoration: none;
    color: red;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 500;
}


@media screen and (max-width: 810px){
    a{
      font-size: 12px;
      margin-left: 25px;
      text-transform: uppercase;
    }
  }

