
main{
    width: auto;
}

.allAnnonce {
    width: auto;
    background-color: #F6F6F6 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 50px;
    gap: 50px;
    border-radius: 25px;
}

.containerAnnonce {
    height: 340px;
    width: 30%;
}

.containerAnnonce a{
    margin-left: 0px;
}
.divAnnonce{
    background-color: #FF6060;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position : relative
}
.gradient{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom : 0px;
    font-size: 18px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: end;
}

.gradient p{
    margin: 18px;
}

.divAnnonce img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



@media screen and (max-width: 768px){
    .allAnnonce{
        flex-direction: column;
        padding: 0px;
        background-color: white;
        gap: 25px;
    }

    .containerAnnonce{
        width: 100%;
    }
  }